
body{
    background-color: rgb(237, 228, 223);
    min-width: 100px; 
    max-width: 2000px; 
    min-height: 100px; 
    max-height: 2000px; 
}

.banner{
    text-align: center; 
    font-family: "Futura", sans-serif; 
    font-size: 1.8em; 
    padding: 80px 0 80px 0; 
    margin-top: -10px; 
    margin-left: -10px; 
    margin-right: -10px; 
    background-color: rgb(255, 180, 123);
}

.banner h1{
    margin-top: 230px; 
    margin-bottom: 30px; 
    text-align: center; 
}

nav{ 
    float: right; 
    position: relative; 
    top: -30rem; 
}

#h-button{
    font-family: "Futura", sans-serif; 
    background-color:rgb(237, 228, 223);  
    font-weight: bold; 
}
#p-button{
    font-family: "Futura", sans-serif; 
    background-color:rgb(237, 228, 223); 
    font-weight: bold; 
}
#r-button{
    font-family: "Futura", sans-serif; 
    background-color:rgb(237, 228, 223); 
    font-weight: bold; 
}

#selfie{
    clip-path: circle();
    margin-top: -120px; 
}

.paragraphs{
    font-family: "Euphemia UCAS", sans-serif; 
    font-weight: lighter; 
    font-size: 18px; 
    padding-left: 15px; 
    padding-right: 15px; 
    margin-top: 45px;  
    text-align: justify; 
}

hr{
    background-color: black; 
    opacity: 0.4; 
}

#email{
    font-family: "Euphemia UCAS", sans-serif; 
    font-size: 11px; 
    width: 97%;
    text-align: center; 
    margin-bottom: 30px; 
    margin-top: -10px;
    font-weight: bold;  
}

@media only screen and (min-width: 100px) and (max-width: 200px){
    nav{
        margin-top: -3rem; 
        width: 4%; 
    }
}
@media only screen and (min-width: 200px) and (max-width: 800px){
    nav{
        margin-top: -4rem;
    }
}

